{% extends "base.html" %}
{% block content %}
<div class="welcome-message">
    <span>Hi! {{loggedUsrDetails[0]}}. You last logged in at {{loggedUsrDetails[4]}} with IP {{loggedUsrDetails[3]}}</span>
</div>
<div class="operat-list">
    <span class="title">Operative Accounts</span>
    <div class="table-container">
        <table>
            <tr style="background-color: rgb(220, 239, 255);">
                <th>Account Number</th>
                <th>Account Type</th>
                <th>Status</th>
                <th>Balance</th>
                <th></th>
            </tr>
            <tr>
                <td>{{loggedUsrDetails[1]}}</td>
                <td>Savings</td>
                <td>Active</td>
                <td>INR {{loggedUsrDetails[2]}}</td>
                <td>Actions</td>
            </tr>
        </table>
    </div>
    <div class="details-down">
        <label for="export"><b>Export</b></label>
        <select name="export" id="export" style="width: 72px; padding: 5px; margin-left: 7.5px;">
            <option value="pdf">Pdf</option>
            <option value="txt">Txt</option>
            <option value="xls">Xls</option>
        </select>
        <span style="margin-left: 10px; font-size: 25px;"><i class="fa-solid fa-download" style="font-size: 25px;"></i></span>
    </div>
</div>
<div class="cards-list">
    <span class="title">Cards</span>
    <div class="table-container">
        <table>
            <tr style="background-color: rgb(220, 239, 255);">
                <th>Card No</th>
                <th>Card Type</th>
                <th>Expiry Date</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>75740201.....</td>
                <td>Debit</td>
                <td>11/04/2022</td>
                <td>Active</td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}